/* Write CSS Here */
* {
	margin: 0;
	padding: 2px;
	box-sizing: border-box;
}
body {

	background-color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(245, 239, 231);
	margin: 5px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	justify-content: flex-start;
    background-image: -moz-linear-gradient();
	background-color: rgb(67, 233, 150);
	padding: 20px;

}
.right {
	position: initial;
	justify-content: flex-start;
	background-color: rgb(255, 245, 211);
	padding: 20px;

}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Education, .project {
	margin-bottom: 60px;
}
.h2 {
	background-color: rgb(4, 96, 150);
	justify-content: center;
}
